
.box-timeline1 {
  margin-left: 1.5rem;
}
/* .step-2 {
  position: absolute;
  top: 0;
  left: 100;
} */
.position-set{
    left:20
}
.bgbuttoncolor{
  background-color: #534f7e;
  color:#fff;
  z-index: 200;
}
.bgbuttoncolor:hover{
  background-color:#534f7e ;
  color:#fff;
}
.margin-contact {
  margin-left: 4rem;
}
.margin-align{
  margin-left: 2rem;
}
.start-100{
  left: 166%!important;
  
}
a{
  text-decoration: none!important;
  color: #fff!important;
}