
.box-timeline1 {
  margin-left: 1.5rem;
}
/* .step-2 {
  position: absolute;
  top: 0;
  left: 100;
} */
.position-set{
    left:20
}
.bgbuttoncolor{
  background-color: #D5D3E8;
  z-index: 200;
}
.bgbuttoncolor:hover{
  background-color:#D5D3E8 ;
}
.margin-contact {
  margin-left: 4rem;
}
.margin-align{
  margin-left: 2rem;
}
.start-100{
  left: 166%!important;
  
}