
 
  h1 {
	 font-size: clamp(1rem, 6vw, 10rem);
	 margin: 15vh 0 2rem;
}
  a {
	 text-decoration: underline;
	 color: #303030;
}
  code {
	 font-size: 1rem;
	 padding: 0 0.5rem;
	 background-color: #d8dbce;
}
  .explanation {
	 width: 100%;
	 margin-bottom: 15vh;
}
 .explanation p {
	 font-size: 1rem;
	 max-width: 75ch;
	 margin: 2rem 0;
}
  .explanation ul:last-child {
	 margin-bottom: 2rem;
}
 .explanation ul {
	 display: flex;
	 flex-direction: column;
}
  .explanation ul li {
	 list-style: none;
	 position: relative;
	 margin: 0.5rem 0;
}
 .explanation ul li::before {
	 content: '👉';
	 position: absolute;
	 top: -0.25rem;
	 left: -2rem;
}
  .container {
	 width: 100%;
	 /* max-width: 768px; */
	 /* height: 50rem; */
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 padding: 2rem 2rem 1.5rem;
	 /* background-color: #d8dbce; */
}
 @media (min-width: 768px) {
	 .container {
		 flex-direction: row;
		 align-items: center;
	}
}
 .container .cta-form {
	 margin-bottom: 2rem;
	 text-align: center;
}
 @media (min-width: 768px) {
	 .container .cta-form {
		 margin-bottom: 0;
		 margin-right: 2rem;
		 text-align: left;
	}
}
 .container .cta-form h2 {
	 font-size: 1.5rem;
	 width: 100%;
	 max-width: 25ch;
	 margin: 0 auto;
	 text-align: center;
}
 @media (min-width: 768px) {
	 .container .cta-form h2 {
		 text-align: left;
		 margin: 0;
	}
}
 .container .cta-form p {
	 margin-top: 1rem;
	 font-size: 1rem;
	 width: 100%;
	 max-width: 24ch;
}
 html .form {
	 align-self: center;
}
 html .form__input {
	 width: clamp(120px, 50vw, 420px);
	 height: 2.5rem;
	 padding: 0 1.25rem;
	 border: 1px solid #303030;
	 border-radius: 2px;
	 margin: 0.625rem auto;
	 transition: all 250ms;
	
}
 @media (min-width: 768px) {
	 html .form__input {
		 width: clamp(120px, 35vw, 420px);
	}
}
 html .form__input:focus {
	 outline: none;
	 border-top-color: rgba(0, 0, 0, 0.1);
}
 html .form__input:focus + .form__label, html .form__input:not(:placeholder-shown) + .form__label {
	 transform: translateY(-4.5rem) scale(1);
	 color: #303030;
}
 html .form__input::placeholder {
	 display: none;
	 color: transparent;
	 -webkit-user-select: none;
	/* Safari */
	 -ms-user-select: none;
	/* IE 10 and IE 11 */
	 user-select: none;
	/* Standard syntax */
}
 html .form__input:not(:placeholder-shown) {
	 border-top-color: rgba(0, 0, 0, 0.5);
}
 html .form__label {
	 font-size: 1rem;
	 color: #909090;
	 display: block;
	/* Moves the label on TOP of the placeholder */
	/* You'll need to change this as needed */
	 transform: translate(1.25rem, -2.5rem);
	 transform-origin: 0 0;
	/* Used later for transitions */
	 transition: all 500ms;
	 -webkit-user-select: none;
	/* Safari */
	 -ms-user-select: none;
	/* IE 10 and IE 11 */
	 user-select: none;
	/* Standard syntax */
	/* THIS PART IS IMPORTANT! */
	/* This line prevents the label from being selected.*/
	/* This is crucial because if this line doesn't exist, users can click on the label, instead of the input field. That's bad UX! */
	 pointer-events: none;
}
 
.submit_button{
    margin-top: 4rem;
}

/* for making nested dropdown for select material as with respect available color */


  